
{{> head }}
{{> navbar }}
 
<div class="row">
  <div class="col-8">
    <h3>Imagen del dia</h3>
  </div>
  <div class="col-4">
    <img src="assets/img/dia-madre.jpg" alt="" class="img-thumbnail">
  </div>
</div>



 {{> footer }} 
